@charset "utf-8";

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  margin: 0;
  margin-top: 80px;
  background-image: url(../images/cactus5.jpg);
  background-repeat: repeat;
}
.wrapper img {
  margin-top: -80px;
  margin-bottom: 80px;
  border-radius: 24px;
  width: 640px;
}
#me {
  margin-top: 120px;
  margin-bottom: 0;
  width: 920px;
}
h1 {
  height: 180px;
  font-size: 45px;
  color: rgb(255, 244, 230);
  background-image: url(../images/img001.jpeg);
  background-size: cover;
  border-radius: 24px;
  margin-top: 15px;
  padding-top: 20px;
  padding-left: 40px;
}
h2 {
  font-size: 16px;
  border: none rgb(255, 244, 230);
  background-color: rgba(83, 83, 83, 0.7);
  padding-bottom: 2px;
}
p {
  margin-bottom: 80px;
  font-size: 24px;
  padding-left: 20px;
}
.br {
  font-size: 18px;
  margin-top: -80px;
  margin-bottom: 80px;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: rgb(255, 244, 230);
  border-radius: 24px;
  background-color: #333333;
}
footer {
  text-align: center;
  margin-top: 100px;
  background-color: #333333;
} 
video { 
 width: 80%; margin-bottom: 80px; margin-top: -80px;
}